@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,900;1,700&family=Open+Sans:ital,wght@0,300;1,300;1,400&family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,300&display=swap');
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
font-family: 'Open Sans', sans-serif;
}
body{
    background: rgb(38,63,84);
    background: radial-gradient(circle, rgba(38,63,84,1) 6%, rgba(37,59,38,1) 97%);
}
header{
    width: 100%;
    border-bottom: 1px solid grey;
    display: inline-block;
}
input#search{
    width: 300px;
    height: 40px;
    border-radius: 17px;
}
input#search::placeholder{
    text-align: center;
}
.navbar{
    margin: auto;
    padding: 1px auto;
}
.navbar .logo{
    margin-left: 5%;

}
.navbar ul{
    margin-top: 15px;
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.navbar ul li{
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 5px;
}
.navbar a{
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.navbar ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: grey;
    transition: .3s ease;
  
  }
  .navbar ul li a:hover::before{
    width: 100%;
  }
  #search{
    font-family: Nunito,sans-serif;
    font-size: 18px;
}
  .search-bar:focus,
.search-button:focus {
  outline: none;
  border-color: #092d07;
  box-shadow: 0 0 5px rgba(6, 59, 28, 0.5);
}
  .eb-text-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% ,-50%);
    width: 100%;
    flex-direction: column;
}
.eb-text-area a{
    font-family: Nunito,sans-serif;
    font-weight: 700;
    font-size: 90px;
    color:black;
    text-decoration: none;
    transition: 0.5s ease;
}
.eb-text-area a:hover{
    letter-spacing: 5px;

}
.eb-text-area h5{
    font-family: Nunito,Poppins,sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1px;
}
#container0{
    height: 80vh;
}
#container{
    margin-top: 10%;
    padding:15px 9%;
    padding-bottom: 100px;
    text-transform: capitalize;
}
#container .eb-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    color:black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

#container .eb-box-container{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr)); 
}

#container .eb-box-container .eb-box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

#container .eb-box-container .eb-box img{
    height: 80px;
}

#container .eb-box-container .eb-box h3{
    color:black;
    font-size: 22px;
    padding:10px 0;
}

#container .eb-box-container .eb-box p{
    color: black;
    text-transform: none;
    font-size: 15px;
    line-height: 1.8;
}

#container .eb-box-container .eb-box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
#container .eb-box-container .eb-box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
iframe{
    border: 3px solid #333;
    
}
#section1{
    margin-top: 5%;
}
.eb-box img{
    transition: 1s ease;
}
.eb-box img:hover{
    transform: perspective(4%);
    transform: scale(2.0);
}
#Kovaqica{
    margin-top: 10%;
    margin-bottom: 10%;
}
footer a{
    color: white;
    transition: 1s ease;
}
footer a:hover{
    color: goldenrod;
}
.row .col-md-6{
    margin-left: 7%;
    width: 30%;
}
.card-text h3{
    font-size: 20px;
    color: white;
}
.card-text h5{
    font-family: Poppins;
    font-size: 18px;
    color: white;
}
.eb-slogan{
    color: white;
    font-family: Poppins;
    font-size: 38px;
}
.eb-slogani{
    color: white;
    font-family: Poppins;
}
.eb-since{
    display: inline;
    font-family: Poppins;
    font-size: 17px;
    color: white;
}@media(max-width:1000px){
    .content{
        width: 100%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}
@media screen and (min-width:320px) {
    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar a{
        font-size: 20px;
    }
   #container1 .card-header{
        font-size: 25px;
    }
    #container0 .card-header{
        font-size: 27px;
    }
    .search-button{
        display: inline;
        position: relative;
        margin-top: 10px;
    }
    #container1{
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
