@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,900;1,700&family=Open+Sans:ital,wght@0,300;1,300;1,400&family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,300&display=swap');
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    /* background: rgb(38,63,84); */
    background: rgb(38,63,84) radial-gradient(circle, rgba(38,63,84,1) 6%, rgba(37,59,38,1) 97%);}
header{
    width: 100%;
    border-bottom: 1px solid grey;
    display: inline-block;
}
input#search{
    width: 300px;
    height: 40px;
    border-radius: 17px;
}
input#search::placeholder{
    text-align: center;
}
.navbar{
    margin: auto;
    padding: 1px auto;
}
.navbar .logo{
    margin-left: 5%;

}
.navbar ul{
    margin-top: 15px;
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.navbar ul li{
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 5px;
}
.navbar a{
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.navbar ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: grey;
    transition: .3s ease;
  
  }
  .navbar ul li a:hover::before{
    width: 100%;
  }
footer a{
    color: white;
    transition: 1s ease;
}
footer a:hover{
    color: goldenrod;
}

.wrapper video{
    width: 100%;
}
.wrapper1 h1{
    font-family: Poppins;
    width: 100%;
    font-size: 70px ;
    color: wheat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 900;
    height: 90vh;
}
.search-bar:focus,
.search-button:focus {
  outline: none;
  border-color: #092d07;
  box-shadow: 0 0 5px rgba(6, 59, 28, 0.5);
}
#search{
    font-family: Nunito,sans-serif;
    font-size: 18px;
}
h3{
    font-family: Nunito,Poppins,serif;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

}
.content{
    width: 27%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 15px 28px rgba(0,0,0,0.25);
    transition: .4s;
    background-color: transparent;
}
.content:hover{
    transform: translate(0px,-5px);
}
img.imazhi{
    width: 200px;
    height: 205px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: wheat;
    margin: 0;
}
.content h6{
    color: wheat;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;

}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: #ff9f43;
}
.butoni{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width:50%;
    padding: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
margin-top: 5px;
margin-bottom: 5px;
border-radius: 10px;
}
.buy-1{
    background: black;
    padding: 10px;
}
.container .card-header{
    animation: slide-out 10s;
    animation-delay: 2000ms;
    animation-iteration-count: infinite;

}
#container0{
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#container1 .card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: bold;
    color: wheat;
    filter: drop-shadow(2px 0px 0px #fff);
}
    
    #container0 .card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 32px;
    color: wheat;
    
}
.bleri1{
    align-items: center;
}
#smoki0,#qokollata0{
}
.logo img {
    animation: spin 15s linear infinite; /* You can adjust the duration and other properties */
}  
.wrapper1 h1{
    animation: slide-in 3000ms;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
}


@keyframes slide-out{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    10%{
        transform: scale(1);
    }
    from {
        opacity: 0.25;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide-in {
    from {
      transform: translateX(-40%);
      opacity: 0.25;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
      color: #7eed78;
    }
  }

  /* @keyframes slide-out {
    from {
      transform: translateX(-40%);
      opacity: 0.25;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
      color: #7eed78;
    }
  } */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width:1000px){
    .content{
        width: 100%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}
@media screen and (min-width:320px) and (max-width:520px) {
    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar a{
        font-size: 14px;
    }
    #container0 .card-header{
        font-size: 27px;
    }
    .search-button{
        display: inline;
        position: relative;
        margin-top: 10px;
        width: 30%;
    }
    #container1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper1 h1{
        display: none;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .logo img{
        height: 8rem;
        width: 8rem;
    }
    .eb-search{
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    input#seach.search-bar{
        width: 90%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    input#search{
        width: 90%;
    }
    #container1 .card-header{
        font-size: 22px;
        flex-wrap: wrap;
        justify-content: space-between;
        letter-spacing: 3px;
        flex-direction: row;
    }
    
}
